<ng-container
  *ngIf="{
    question: question$ | async,
    answerOptions: answerOptions$ | async,
    votingResults: votingResults$ | async
  } as async"
>
  <ng-container *ngIf="form && async.answerOptions && async.answerOptions.length > 1 && async.question; else noData">
    <form class="form section__grid" [formGroup]="form">
      <div class="section__head">
        <span class="section__caption">Poll</span>
        <h2 class="section__title">Choose your answer</h2>
      </div>

      <div class="section__scroll">
        <h3 class="form__sub-title">{{ async.question }}</h3>

        <mat-radio-group class="form__radio-group" formControlName="poll">
          <mat-radio-button
            class="form__radio-button"
            *ngFor="let answerOption of async.answerOptions"
            [value]="answerOption"
          >
            <span class="wrap-mat-radio-label">
              {{ answerOption }}
            </span>
          </mat-radio-button>

          <mat-error *ngIf="form.invalid">{{ abstractControlHelper.getErrorMessage(pollControl) }}</mat-error>
        </mat-radio-group>
      </div>

      <div class="form__footer -end">
        <button
          (click)="vote()"
          [disabled]="(async.answerOptions && async.answerOptions.length < 2) || pollControl.invalid"
          type="button"
          mat-raised-button
          aria-label="Submit vote"
          class="button form__button"
        >
          Vote
        </button>
      </div>
    </form>
  </ng-container>

  <ng-template #noData>
    <div class="section__grid">
      <div class="section__head">
        <span class="section__caption">Poll</span>
        <h2 class="section__title">Choose your answer</h2>
      </div>

      <div class="section__scroll">
        <p class="section__no-data">
          Your poll will appear here after you've defined a question with at least 2 answer options. Try it!
        </p>
      </div>
    </div>
  </ng-template>
</ng-container>
