.header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 30px;
  width: 100%;

  &__title {
    font-family: "Rubik", sans-serif;
    display: block;
    font-size: 20px;
    margin: 0;
    color: #ffffff;
    font-weight: 300;
  }
}
