<ng-container *ngIf="form">
  <form class="form section__grid" [formGroup]="form">
    <div class="section__head">
      <span class="section__caption">Poll creator</span>
      <h2 class="section__title">Create your own poll</h2>
    </div>

    <div class="section__scroll">
      <mat-form-field appearance="outline" class="form__question">
        <mat-label>Poll question</mat-label>
        <input
          matInput
          [maxlength]="maxFieldLength"
          formControlName="question"
          placeholder="Enter a question.."
        />
        <mat-error *ngIf="questionControl.invalid">{{
          abstractControlHelper.getErrorMessage(questionControl)
        }}</mat-error>
      </mat-form-field>

      <ng-container formArrayName="answerOptions">
        <ng-container
          *ngFor="
            let answerOption of answerOptionFormArray.controls;
            let i = index
          "
        >
          <div class="form__answer-option" [formGroupName]="i">
            <mat-form-field appearance="outline" class="form__field">
              <mat-label>Answer option</mat-label>
              <input
                matInput
                [maxlength]="maxFieldLength"
                formControlName="answerOption"
                placeholder="Enter a question.."
              />
              <mat-error *ngIf="answerOption.invalid">{{
                abstractControlHelper.getErrorMessage(answerOption)
              }}</mat-error>
            </mat-form-field>

            <button
              (click)="removeAnswerOption(i, answerOption.value?.answerOption)"
              mat-fab
              color="warning"
              aria-label="Add answer"
              class="button form__answer-option-button"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </ng-container>

      <div class="form__answer-option">
        <mat-form-field appearance="outline" class="form__field">
          <mat-label>Add another answer option</mat-label>
          <input
            matInput
            [maxlength]="maxFieldLength"
            formControlName="newAnswerOption"
            placeholder="Enter another answer option.."
          />
          <mat-error *ngIf="newAnswerOptionControl.invalid">{{
            abstractControlHelper.getErrorMessage(newAnswerOptionControl)
          }}</mat-error>
        </mat-form-field>

        <button
          (click)="addAnswerOption()"
          [disabled]="answerOptionFormArray.length === maxNumberOfAnswers"
          type="button"
          mat-fab
          aria-label="Add answer"
          class="button form__answer-option-button"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="section__footer">
      <span class="section__info"
        >{{ answerOptionFormArray.length }}/{{ maxNumberOfAnswers }} possible
        answers</span
      >

      <button
        (click)="resetForm()"
        [disabled]="!answerOptionFormArray.controls.length && questionControl.invalid"
        type="button"
        mat-raised-button
        aria-label="Add answer option"
        class="button form__button"
      >
        Reset form
      </button>
    </div>
  </form>
</ng-container>
