<div class="app-wrap">
  <div class="container">
    <div class="section -bg">
      <ds-header class="section__header"></ds-header>
    </div>
  </div>

  <div class="container -grid">
    <div class="container__section section">
      <ds-create-poll class="section__content"></ds-create-poll>
    </div>
    <div class="container__section section">
      <ds-poll class="section__content"></ds-poll>
    </div>
    <div class="container__section section -third">
      <ds-chart class="section__content"></ds-chart>
    </div>
  </div>
</div>
